footer.footer
  div.social
    a.social--item
      - var x = 4;
      - for (var i=1; i<=x; i++) {
        svg.social--svg
      - }
  div.external-link
    a.external-link--text Центральный сайт партии ЛДПР
