header.header
  div.title
    svg.title--logo
    h1.title--name Вологодское РО
    div.title--join
      a.join--link Вступить в партию
  div.header--wrapper
    nav.main-nav
      a.main-nav--sections(href="index.html") Главная
      a.main-nav--sections(href="regional.html") Региональное отделение
      a.main-nav--sections(href="deputy.html") Депутаты
      a.main-nav--sections(href="mo.html") Молодежная организация
    div.search
      input.search--field(type="text" name="search")
    
