main.main
  div.main-section
    div.brief
      h4.brief__name Митинг 23 февраля
      p.brief__description Краткий текст о том, что будет за митинг и кто на нем присутствует
    section.news
      - var x = 3;
      - for (var i=1; i<=x; i++) {
      div.news-item
        h3.news__title Вологодский координатор стал человеком года по версии журнала GQ

        p.news__description Краткий текст новости о том, как координатор смог преодолеть себя и смог стать человеком года...
        picture.news__img
          source(srcset="#" media="(min-width: 780px)")
          img(src="#" alt="Фото новости")
        span.news__date 07.01 2017 в 12:10
      - }

    aside.indirect
      div.agitation
        b.agitation__call Скоро выборы
        p.agitation__description Ознакомьтесь с кандидатами и местоположением избирательных участков
        span.agitation__date 19.09.2016
        svg.agitation__svg
      div.newspaper
        picture.newspaper__img
          source(srcset="#" media="(min-width: 780px)")
          img(src="#" alt="Газета")
        button.newspaper__button Загрузить газету
      div.indirect-item
        b.indirect-item__title Институт Мировых Цивилизаций
        p.indirect-item__description Текст о том, каким образом осуществляются обучение в ИМЦ, что именно дает образование, какие требования, а также описание того куда нужно идти и что делать, чтобы поступить в ИМЦ.
      div.indirect-item
        b.indirect-item__title Помощь от партии
        p.indirect-item__description.
          Текст о том, каким образом написать обращение на территории данного региона, 
          что именно решают при обращениях, как быстро решают проблемы, а также описание 
          того куда нужно идти и что делать, чтобы написать 
          обращение к ЛДПР.
