div.map
  div.map__data 
    <svg class="map__point" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 19"><title>Asset 4point</title><g id="162d8a99-36c7-4316-acaf-a9ace3b96be6" data-name="Layer 2"><g id="acfce7a2-c7fa-4628-aedd-693a8db7c30c" data-name="О РО"><g id="bced72ec-9f35-40f4-bb38-f42b8fab7812" data-name="Иконка Места"><ellipse cx="7" cy="7.02" rx="3.1" ry="3.1" style="fill:none;stroke:#010101;stroke-linecap:round;stroke-linejoin:round"/><path d="M.5,7.08C.5,12.88,7,18.5,7,18.5s6.5-5.62,6.5-11.42A6.54,6.54,0,0,0,7,.5,6.54,6.54,0,0,0,.5,7.08Z" style="fill:none;stroke:#010101;stroke-linecap:round;stroke-linejoin:round"/></g></g></g></svg>
    <svg class="map__phone" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 18.7"><title>Иконка телефонаphone</title><g id="dfc40f96-2546-4a7a-b510-939ac23c7544" data-name="Layer 2"><g id="c807d203-62f9-4fbd-a66c-a8a28e7cc63d" data-name="О РО"><path id="1d7cb08e-09f8-45c0-8791-feacdbfd03a4" data-name="Иконка телефона" d="M3.6.5.83,2.83l0,0C-.4,4,2,8.33,6.22,12.48s8.68,6.6,9.89,5.42l0,0,2.37-2.73-4-3.36-2.79,1.83L5.15,7.21,7,4.47Z" style="fill:none;stroke:#010101;stroke-linecap:round;stroke-linejoin:round"/></g></g></svg>
    p.map__adress Адрес, часы приема, часы работы
    p.map__contacts Контактные телефоны, емэйл
