section.news
  - var x = 3;
  - for (var i=1; i<=x; i++) {
  div.news-item
    h3.news--title Вологодский координатор стал человеком года по версии журнала GQ

    p.news--description Краткий текст новости о том, как координатор смог преодолеть себя и смог стать человеком года...
    img.news--img(src="#" alt="Фото новости")
    span.news--date 07.01 2017 в 12:10
  - }
