div.popup
  section.popup--wrapper
    div.join
      h3.join--title Чтобы вступить в ряды ЛДПР, вам нужно:
      div.join--wrapper
        span.join--stage 1 шаг
        svg.join--svg
        p.join--text Вам должно быть не менее 18 лет и Вы должны иметь Российское гражданство! 
      div.join--wrapper
        span.join--stage 2 шаг
        svg.join--svg
        p.join--text Нужно скачать нашу анкету и заполнить её.
      div.join--wrapper
        span.join--stage 3 шаг
        svg.join--svg
        p.join--text Принести лично в ближайшее отделение ЛДПР заполненное заявление, анкету, 2 фото 3х4 (на матовой бумаге) и захватить с собой паспорт.
      button.join--download Скачать анкету
    include map.pug
