div.popup-photo
  <svg class="popup-photo__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17 17"><defs><clipPath id="bd24e697-b6d6-4cb9-a684-74b755f2eac6" transform="translate(-349 -83.93)"><circle cx="357.5" cy="92.43" r="7.5" style="fill:none"/></clipPath><clipPath id="ac9453db-9a96-49e0-88c0-ccf5f96ce976" transform="translate(-349 -83.93)"><rect width="375" height="667" style="fill:none"/></clipPath></defs><title>Asset 8123087120398</title><g id="f550b4e9-073f-4dce-900a-99017433b7a7" data-name="Layer 2"><g id="644093ee-d333-4057-8428-073be92879ac" data-name="Главная"><g style="clip-path:url(#bd24e697-b6d6-4cb9-a684-74b755f2eac6)"><g style="clip-path:url(#ac9453db-9a96-49e0-88c0-ccf5f96ce976)"><circle cx="8.5" cy="8.5" r="7.5" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"/></g></g><line x1="6.02" y1="6.02" x2="11.19" y2="11.19" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round"/><line x1="11.19" y1="6.02" x2="6.02" y2="11.19" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round"/></g></g></svg>
  div.popup-photo__wrapper
    div.popup-photo__img
      picture.popup-photo__photo
        source(srcset="#" media="(min-width: 780px)")
        img(src="#" alt="Фото")
    div.popup-photo__label
      span.popup-photo__name Иванов Иван Иванович
      span.popup-photo__post Должность
    
