div.popup-photo
  div.popup-photo__wrapper
    div.popup-photo__img
      img.popup-photo__photo(src="#" alt="Фото")
    div.popup-photo__label
      span.popup-photo__name
      span.popup-photo__post    
    
