<!DOCTYPE html>
html(lang="ru")

  head
    //- there is head
    include blocks/head.pug
    //- end head
  body.article-page#body
    
    //- there is header
    include blocks/header.pug
    //- end header
    
    //- there is main
    main.main
      
      //- there is popup
      include blocks/popup.pug
      //- end popup  
       
      div.article
        div.article__item.article__item--desktop
          picture.article__picture
            source(srcset="#" media="(min-width: 780px)")
            img(src="#" alt="Фото")
          div.article__inner
            h3.article__title Институт Мировых<br> Цивилизаций
        div.article__item.article__item--mobile
          h3.article__title Помощь людям от партии
          p.article__text. 
            Текст статьи текст статьи текст статьи текст статьи текст статьи текст статьи 
            текст статьи текст статьи текст статьи текст статьи текст статьи текст статьи 
            текст статьи текст статьи текст статьи
            
        div.article__item--border
          div.article__person
            div.article__img
              picture.article__photo
                source(srcset="#" media="(min-width: 780px)")
                img(src="#" alt="Фото")
            div.article__wrapper
              span.article__name Иванов Иван<br class="article__name--desktope"> Иванович
              span.article__post Должность
          p.article__quote «Прямое цитирование важной или яркой реплики человека, о котором говорится в статье, но не болше 10-15 слов.»
          
        div.article__item
          p.article__text. 
            Текст статьи текст статьи текст статьи текст статьи текст статьи текст статьи 
            текст статьи текст статьи текст статьи текст статьи текст статьи текст статьи текст статьи текст статьи 
            текст статьитекст статьи текст статьи текст статьи текст статьи текст статьитекст статьи текст статьи 
            текст статьи текст статьи текст статьи
            
        div.article__item
          div.slider
            img.slider__arrow.slider__arrow--left(src="img/arrow-left.png" alt="Стрелка влево")
            img.slider__arrow.slider__arrow--right(src="img/arrow-right.png" alt="Стрелка вправо")
            div.slider__wrapper
              div.slider__point
                img.slider__img(src="#" alt="Слайдер имг")
              div.slider__point
                img.slider__img(src="#" alt="Слайдер имг")
              div.slider__point
                img.slider__img(src="#" alt="Слайдер имг")
            div.pagination-dot
              div.pagination-dot__item
              div.pagination-dot__item
              div.pagination-dot__item      
            div.pagination-number
              b.pagination-number__item 1 из 12
    //- end main
  //- there is footer
  include blocks/footer.pug 
  //- end footer
