<!DOCTYPE html>
html(lang="ru")

  head
    //- there is head
    include blocks/head.pug
    //- end head
  body#body
    
    //- there is header
    include blocks/header.pug
    //- end header
    
    //- there is main
    main.main
      
      //- there is popup
      include blocks/popup.pug
      //- end popup  
    
    
    
    
    //- end main
    
    //- there is footer
    include blocks/footer.pug
    //- end footer
