<!DOCTYPE html>
html(lang="ru")

  head
    //- there is head
    include blocks/head.pug
    //- end head
  body#body
    
    //- there is header
    include blocks/header.pug
    //- end header
    
    //- there is main
    main.main
      
      //- there is popup
      include blocks/popup.pug
      //- end popup  
    
      div.persons
        h3.persons--title Депутатский корпус
        div.list
          - var x = 12
          - for (var i=1; i<=x; i++) {
            div.list--item
              img.list--img(src="#" alt="Фотография лица отделения")
              div.list--person
                span.list--name Иванов Иван Иванович
                span.list--post Должность
          - }
      
      div.laws
        - var x = 3
        - for (var i=1; i<=x; i++) {
          div.laws--wrapper
            h3.laws--title Законопроект об увеличении акцизных сборов на табачную и табакосодержащую продукцию
            a.laws--link(href="#") Законопроект №1837 от 28.06.2017
            span.laws--label (DOC, 300КБ)
            span.laws--date 07.01.2017 в 12:10
        -}
          
      
      aside.indirect
        div.agitation
          b.agitation--call Скоро выборы
          p.agitation--description Ознакомьтесь с кандидатами и местоположением избирательных участков
          span.agitation--date 19.09.2016
          svg.agitation--svg
    
    //- end main
    
    //- there is footer
    include blocks/footer.pug
    //- end footer
