<!DOCTYPE html>
html(lang="ru")

  head
    //- there is head
    include blocks/head.pug
    //- end head
  body#body
    
    //- there is header
    include blocks/header.pug
    //- end header
    
    //- there is main
    main.main
      
      //- there is popup
      include blocks/popup.pug
      //- end popup  
    
      div.persons
        h3.persons__title Депутатский корпус
        div.list
          - var x = 12
          - for (var i=1; i<=x; i++) {
            div.list__item
              img.list__img(src="#" alt="Фотография лица отделения")
              div.list__person
                span.list__name Иванов Иван Иванович
                span.list__post Должность
          - }
      
      div.laws
        - var x = 3
        - for (var i=1; i<=x; i++) {
          div.laws__wrapper
            h3.laws__title Законопроект об увеличении акцизных сборов на табачную и табакосодержащую продукцию
            a.laws__link(href="#") Законопроект №1837 от 28.06.2017
            span.laws__label (DOC, 300КБ)
            span.laws__date 07.01.2017 в 12:10
        -}
          
      
      aside.indirect
        div.agitation
          b.agitation__call Скоро выборы
          p.agitation__description Ознакомьтесь с кандидатами и местоположением избирательных участков
          span.agitation__date 19.09.2016
          svg.agitation__svg
    
    //- end main
    
    //- there is footer
    include blocks/footer.pug
    //- end footer
