<!DOCTYPE html>
html(lang="ru")

  head
    //- there is head
    include blocks/head.pug
    //- end head
  body#body
    
    //- there is header
    include blocks/header.pug
    //- end header
    
    //- there is main
    main.main
      
      //- there is popup
      include blocks/popup.pug
      //- end popup  
      
      div.main-section
        div.brief
          h4.brief--name Митинг 23 февраля
          p.brief--description Краткий текст о том, что будет за митинг и кто на нем присутствует
        
        //- there is news
        include blocks/news.pug
        //- news end

        aside.indirect
          div.agitation
            b.agitation--call Скоро выборы
            p.agitation--description Ознакомьтесь с кандидатами и местоположением избирательных участков
            span.agitation--date 19.09.2016
            svg.agitation--svg
          div.newspaper
            img.newspaper--img(src="#" alt="Газета")
            button.newspaper--button Загрузить газету
          div.indirect-item
            b.indirect-item--title Институт Мировых Цивилизаций
            p.indirect-item--description Текст о том, каким образом осуществляются обучение в ИМЦ, что именно дает образование, какие требования, а также описание того куда нужно идти и что делать, чтобы поступить в ИМЦ.
          div.indirect-item
            b.indirect-item--title Помощь от партии
            p.indirect-item--description.
              Текст о том, каким образом написать обращение на территории данного региона, 
              что именно решают при обращениях, как быстро решают проблемы, а также описание 
              того куда нужно идти и что делать, чтобы написать 
              обращение к ЛДПР.
    //- end main
  
  //- there is footer
  include blocks/footer.pug 
  //- end footer
