<!DOCTYPE html>
html(lang="ru")

  head
    //- there is head
    include blocks/head.pug
    //- end head
  body#body
    
    //- there is header
    include blocks/header.pug
    //- end header
    
    //- there is main
    include blocks/main.pug
    //- end main
  
  //- there is footer
  include blocks/footer.pug 
  //- end footer
