<!DOCTYPE html>
html(lang="ru")

  head
    //- there is head
    include blocks/head.pug
    //- end head
  body.mo#body
    
    //- there is header
    include blocks/header.pug
    //- end header
    
    //- there is main
    main.main
      
      //- there is popup
      include blocks/popup.pug
      //- end popup  
      div.main__wrapper
        div.mo-news
          a.mo-news__picture-link(href="#")
            picture.mo-news__img
              source(srcset="#" media="(min-width: 780px)")
              img(src="#" alt="Картинка в тайтл")
        //- there is news
        include blocks/news.pug
        //- end news
        aside.indirect
          div.indirect-item
            b.indirect-item__title Институт Мировых Цивилизаций
            p.indirect-item__description Текст о том, каким образом осуществляются обучение в ИМЦ, что именно дает образование, какие требования, а также описание того куда нужно идти и что делать, чтобы поступить в ИМЦ.
          div.indirect-item
            b.indirect-item__title Как вступить в Молодежную организацию
            p.indirect-item__description. 
              Текст о том, каким образом 
              вступить в молодежную 
              организацию ЛДПР на 
              территории данного региона, зачем нужно вступать в 
              орагнизацию, какие
              преимущества и так далее.
          
    //- end main
    
    //- there is footer
    include blocks/footer.pug
    //- end footer
