<!DOCTYPE html>
html(lang="ru")

  head
    //- there is head
    include blocks/head.pug
    //- end head
  body#body
    
    //- there is header
    include blocks/header.pug
    //- end header
    
    //- there is main
    main.main
      
      //- there is popup
      include blocks/popup.pug
      //- end popup  
    
      section.ro
        div.ro--wrapper
          div.ro-about
            h3.ro-about--title О региональном отделении
            p.ro-about--text.
              Описание регионального отделения, рассказ об отделении, 
              чем занимается отделение, как помогает людям и с какого года работает. В данном тексте нужно использовать все имеющиеся рекламные технологии и преимущества партии, ради того, 
              чтобы человек понял, что отделение работает ради него и готово помогать ему в любых вопросах, связанных с исполнительной властью. Данный текст очень важен, так как представляет человеку отделение и команду отделения, которая работает ради него. Текст не должен быть очень маленьким, но и не должен загружать человека и мешать его восприятию понимать то, что происходит 
              в политике региона и в региональном отделении.
            div.attachments
              b.attachments--title Цель и задачи партии
              a.attachments--item(href="#") Устав партии
              span.attachments--label (DOC, 300 КБ)
              a.attachments--item(href="#") Программа партии
              span.attachments--label (DOC, 300 КБ)
          div.persons
            h3.persons--title Лица отделения
            div.list
              - var x = 6
              - for (var i=1; i<=x; i++) {
                div.list--item
                  img.list--img(src="#" alt="Фотография лица отделения")
                  div.list--person
                    span.list--name Иванов Иван Иванович
                    span.list--post Должность
              - }
            
        include blocks/map.pug
    
    //- end main
    
    //- there is footer
    include blocks/footer.pug
    //- end footer
