.agitation {
  padding: 7px 30px;
  display: flex;
  text-decoration: none;
  color: black;
}

.agitation__wrapper {
  flex-basis: 71%;
}

.agitation__description {
  margin: 7px 0;
}

.agitation__svg {
  flex-grow: 1;
}

.agitation__svg--group {
  width: 53px;
  margin-top: 10px;
}

.agitation__name {
  margin: 0;
}
