.agitation {
  padding: 7px 30px;
  display: flex;
  text-decoration: none;
  color: black;
  position: relative;
  overflow: hidden;
}

.agitation--color {
  background: #4990e1;
  color: white;
}
@media (min-width: @break_sm) {
  .agitation--color {
    background: white;
    color: black;
  }

  .deputy .agitation__svg--group {
    display: none;
  }

  .deputy .agitation__svg {
    position: absolute;
    right: -8px;
    bottom: -7px;
    width: 80px;
  }

  .agitation {
    background: white;
  }
}
@media (max-width: @break_sm) {
  .agitation__svg--desktop {
    display: none;
  }
}

.agitation__wrapper {
  flex-basis: 71%;
}

.agitation__description {
  margin: 7px 0;
}

.agitation__svg {
  flex-grow: 1;
}

.agitation__svg--group {
  width: 53px;
  margin-top: 10px;
}

.agitation__name {
  margin: 0;
}
