.brief {
  background: #4990e1;
  padding: 7px 30px;
  display: flex;
  text-decoration: none;
}

.brief__wrapper {
  flex-basis: 71%;
}

.brief__name {
  margin: 0;
  color: white;
}

.brief__description {
  margin: 7px 0;
  color: white;
}

.brief__date {
  color: white;
}

.brief__svg {
  flex-grow: 1;
}

.brief__svg--flag {
  width: 53px;
}
