@media (max-width: @break_sm) {
  body > footer {
    display: none;
  }
}
@media (min-width: @break_sm) {
  footer {
    background: #3F68B1;
    display: flex;
    justify-content: space-around;
  }
}
