.join {
  padding: 10px 15px;
}

.join__title {
  margin: 0;
  font-weight: normal;
}

.join__cloud,
.join__documents,
.join__man {
  width: 50px;
}

.join__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.join__stage {
  flex-basis: 100%;
  margin-bottom: 0;
}

.join__man {
  align-self: baseline;
}

.join__cloud {
  align-self: baseline;
}

.join__documents {
  align-self: baseline;
}

.join__text {
  flex-basis: 70%;
  margin-left: 18px;
  margin-top: 6px;
}
