.list__wrapper {
  border-radius: 50%;
  background: #D6D6D6;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin: 13px;
}
@media (max-width: @break_sm) {
  .list__item:nth-child(odd) {
    display: none;
  }

  .list__item {
    flex-basis: 50%;
  }

  .list {
    padding: 0 13% 15px 9px;
  }
}
@media (min-width: @break_sm) {
  .ro .list__item {
    margin-bottom: 13px;
    flex-basis: 50%;
  }

  .deputy__persons .list__item {
    flex-basis: 22%;
    margin-bottom: 12px;
  }

  .list__wrapper {
    width: 60px;
    height: 60px;
  }

  .list {
    justify-content: space-between;
    padding-top: 6px;
    padding-left: 6px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.list__item {
  display: flex;
}

.list__person {
  display: flex;
  flex-direction: column;
  line-height: 17px;
  margin-top: 9px;
}

.list__name {
  color: #4990E2;
}
