@media (max-width: @break_sm) {
  .newspaper {
    display: none;
  }
}
@media (min-width: @break_sm) {
  .newspaper__img {
    background: #D9D8D8;
    width: 100%;
    height: 200px;
  }

  .newspaper {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
  }

  .newspaper__button {
    width: 100%;
    background: #4990e1;
    border: none;
  }
}
