.news {
  background: white;
}
@media (max-width: @break_sm) {
  .news__item:first-child,
  .news__item:last-child {
    display: none;
  }

  .news__title {
    margin: 0;
    padding: 7px 20px 0;
  }

  .news__description {
    margin: 0;
    padding: 10px 20px 0;
  }

  .news__item {
    margin-top: 20px;
  }

  .news__turn {
    margin: 0 20px 15px;
    color: #4990e1;
  }

  .news__img {
    width: 100%;
    height: 200px;
  }

  .news__date {
    padding-left: 20px;
  }
}
@media (min-width: @break_sm) {
  .news {
    flex-basis: 62%;
    // margin-top: 20px;
  }

  .news__item {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .news__title {
    margin: 0;
  }

  .news__turn {
    display: none;
  }

  .news__img {
    // width: 328px;
    // height: 300px;
  }

  .news__link {
    display: block;
    width: 328px;
    height: 300px;
  }

}
