@media (max-width: @break_sm) {
  .news__item:first-child,
  .news__item:last-child {
    display: none;
  }

  .news {
    background: white;
  }

  .news__title {
    margin: 0;
    padding-top: 7px;
    padding-left: 15px;
  }

  .news__description {
    padding-left: 15px;
  }

  .news__item {
    margin-top: 20px;
  }

  .news__turn {
    padding-left: 15px;
    color: #4990e1;
  }

  .news__img {
    width: 100%;
    height: 200px;
  }
}
