.popup {
  display: none;
  background: #4990e1;
  min-height: 605px;
}

.popup__wrapper {
  color: white;
}

.popup__container {
  background: white;
  text-align: center;
  padding: 16px 10px;
}

.popup__btn {
  color: #4990E2;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
@media (min-width: @break_sm) {
  .popup {
    max-width: 897px;
    margin: 20px auto;
  }
}
