.popup {
  display: none;
  background: #4990e1;
  min-height: 605px;
}

.popup__wrapper {
  color: white;
}

.popup__container {
  background: white;
  text-align: center;
  padding: 16px 10px;
}

.popup__btn {
  color: #4990E2;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
@media (min-width: @break_sm) {
  .popup {
    background: #f1f6f6;
    margin: 66px 20px;
  }

  .popup__wrapper {
    background: #4990e1;
    max-width: 917px;
    margin: 0 auto;
  }
}

.backtosite {
  display: none;
  flex-basis: 180px;
  text-align: end;
  font-size: 19px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  height: 31px;
  cursor: pointer;

  &__arrow {
    width: 30px;
    height: 30px;
  }
}
// Функциональные классы для popup

.overflow {
  overflow-y: hidden;
}
// Для фиксирования по центру

.fixed {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100vh;
}
//Разворот хэдера

.reverse {
  flex-direction: row-reverse;
}
// Скрыть header__name

.visibility {
  visibility: hidden;
}

.none {
  display: none !important;
}

.block {
  display: block;
}

.flex {
  display: flex;
}
