.social {
  padding-top: 27%;
  padding-bottom: 10%;
  display: flex;
  justify-content: space-around;
}

.social__svg--vk {
  width: 43px;
}

.social__svg--inst {
  width: 30px;
}

.social__svg--tw {
  width: 33px;
}

.social__svg--fb {
  width: 19px;
}
